* {
	margin: 0;
	padding: 0;
	border: 0;
	color: black;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	padding-inline: 10rem;
}

.navbar-wrapper {
	display: flex;
	justify-content: space-between;
	padding-block-start: 1rem;
}

h1 {
	display: flex;
	flex-direction: row;
	font-size: 2rem;
}

.navbar-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 1rem;
}

a {
	font-size: 2rem;
	padding-block-end: 0.5rem;
}

.navbar-button {
	font-weight: bold;
}

.nav-line {
	font-weight: 300;
	font-size: 2rem;
}

.image-container {
	height: 25rem;
}

.top-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: 100% 18%;
}

main {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

.content-socks {
	display: flex;
	margin-block-start: 1.5rem;
	gap: 1.5rem;
}

p {
	margin-block-end: 1.5rem;
}

.content-image {
	width: 30rem;
	height: 20rem;
	object-fit: cover;
}

/*About*/

.mario {
	height: 24rem;
	width: 40rem;
}

.content-about {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 1.5rem;
}

.about-paragraf {
	display: flex;
	flex-direction: column;
	margin-inline-start: 2rem;
}

/* Blog*/

.blog-article-header {
	margin-block-start: 1.5rem;
	margin-block-end: 0.5rem;
}

.catkeybord {
	height: 15rem;
	width: 15rem;
}

.content-blog {
	display: flex;
}

.blog-paragraf {
	margin-inline-start: 1.5rem;
}

.comments {
	margin-block-start: 1rem;
}

ul {
	list-style-type: none;
}

.wrapper {
	display: flex;
	gap: 15rem;
	margin-block-start: 2.5rem;
}

.blog-main {
	margin: 0;
}

aside {
	margin-inline-end: 5rem;
}

.sidebar-header {
	margin-block-end: 1rem;
}

.sidebar-list {
	margin-block-end: 2.5rem;
	font-weight: bold;
}

.sidebar-item {
	color: gray;
}

.sidebar-tags {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 0.2rem;
}

.tag-item {
	background-color: gray;
	padding: 0.5rem;
	border: 0;
	margin-block-end: 0.2rem;
}

.tag-text {
	font-size: small;
}

/* Contact*/

.contact-header {
	margin-block-end: 1rem;
}

#name {
	border: 0.1rem solid black;
	width: 100%;
	margin-block-end: 1rem;
}

#textarea {
	border: 0.1rem solid black;
	resize: none;
	width: 100%;
	margin-block-start: 0.5rem;
	margin-block-end: 1rem;
}

button {
	padding: 0.5rem 2rem;
	border: 0.1rem solid black;
	border-radius: 0.5rem;
}

.line {
	border: 0.5px solid gray;
	margin-block-end: 1.5rem;
	margin-block-start: 10rem;
}

footer {
	margin-block-end: 5rem;
}
