* {
	margin: 0;
	padding: 0;
	border: 0;
	color: black;
	text-decoration: none;
}

body {
	padding-inline: 10rem;
}

.navbar-wrapper {
	display: flex;
	justify-content: space-between;
}

h1 {
	display: flex;
	flex-direction: row;
	font-size: 2rem;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 1rem;
}

a:hover {
	text-shadow: -0.25px -0.25px 0 black, 0.25px 0.25px black;
}

.image-container {
	height: 25rem;
}

.top-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: 100% 18%;
}

main {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

.content-socks {
	display: flex;
	margin-block-start: 1.5rem;
	gap: 1.5rem;
}

p {
	margin-block-end: 1.5rem;
}

.content-image {
	width: 30rem;
	height: 20rem;
	object-fit: cover;
}

/*About*/

.mario {
	height: 24rem;
	width: 20rem;
}

.content-about {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 1.5rem;
}

.about-paragraf {
	display: flex;
	flex-direction: column;
	margin-inline-start: 2rem;
}

/* Blog*/

.blog-article-header {
	margin-block-start: 1.5rem;
	margin-block-end: 0.5rem;
}

.catkeybord {
	height: 15rem;
	width: 15rem;
}

.content-blog {
	display: flex;
	gap: 2rem;
}

.blog-paragraf {
	margin-inline-start: 1.5rem;
	width: 45%;
}

aside {
	width: 10%;
}

/* Contact*/

#name {
	border: solid;
	border-radius: 0.5rem;
}
#textarea {
	border: solid;
	border-radius: 0.5rem;
}

button {
	border: solid;
	border-radius: 0.5rem;
}
